.ui-main-container-components{
    margin-top: 8vh;
}

.ui-main-container-components-information{
    margin-bottom: 8vh;
}

.ui-main-container-components-title-number, .ui-main-container-components-title-text{
    color: #000;
    text-align: center;
    font-family: "Pretendard" sans-serif;
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 700;
    line-height: 124.388px; /* 155.484% */
}
.subtitle-container{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ui-main-container-components-subtitle-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    margin-top: 1vh;    
}

.ui-main-container-components-subtitle-text h3{
    color: #A5A5A5;
    font-family: "Pretendard" sans-serif;
    font-size: 0.7vw;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 100% */
}

.subtitle-music-icons, .subtitle-touch-icons{
    display: inline;
    margin-right: 1rem;
    width: 1.2vw;
    height: 2vh;
}

.subtitle-touch-icons{
    margin-left: 1vh;
}
/* 이미지 데이터 컴포넌트 구성 CSS*/
.ui-main-container-components-img{
    margin: 0 0 3vh 0;
    width: 100vw;
}

.carousel-img{
    height: auto;
    width: auto;
    object-fit: cover;
}

.custom-prev-icon,
.custom-next-icon {
    width: 10rem;
}