.main-title{
    color: #000;
    font-family: "Pretendard" sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.388px; /* 155.484% */
    margin-bottom: 8vh;
}

.sub-title{
    color: #A5A5A5;
    text-align: center;
    font-family: "Pretendard" sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 148px; /* 370% */
    margin-top: 17vh;
}
/* nav */
.navbar{
    width: 100vw;
    height: 5vh;
    border-bottom: 1px solid;
    border-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 10vw;
}

.navbar-items-text{
    color: #A5A5A5;
    font-size: 3em;
    font-weight: 500;
}

.setty-nav-logo{
    width: 4vw;
}

/* footer */
footer{
    background-color: rgba(217, 217, 217, 0.08);
}

.footer-copyright-text{
    color: rgba(217, 217, 217, 8);
    font-family: "Pretendard" sans-serif;
    text-align: center;
    font-size: 1vw;
    padding-top: 3%;
    padding-bottom: 3%;
    font-style: normal;
    font-weight: 400;
    line-height: 105px; /* 131.25% */
}

/* top button */
.top-btn-container {
    position: fixed;
    width: 100%;
    bottom: 13%;
    right: 2%;
    z-index: 1000;
  }

  .top-btn{
    position: absolute;
    border: 0;
    background:transparent;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  
  .top-btn:focus{ 	
    border: none;
    outline:none;
    }